@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 a {
    text-decoration: none;
}

header {
    background-color: #3a3a3a;
    color: #fff;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom:  1px solid #fff;
}

/* Home image & quote*/
header {
    position: relative;
}

#home-image {
    height: 900px;
    width: 100%;
    clear: both;
    background: url(../images/climbing2.jpg) no-repeat center center;
}

#quote {
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 60%;
    height: 130px;

    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(90, 58, 58, .6);

    bottom: 150px;
    right: 600px;

    position: absolute;
}

#greg-child {
    float: right;
    padding-right: 30px;
    
}