@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #3a3a3a;;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    background-color: #3a3a3a;
    color: #fff;
    position: relative;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom:  1px solid #fff;
}

/* Home image & quote*/

#home-image {
    height: 600px;
    width: 100%;
    clear: both;
    background: url(../images/climbing2.jpg) no-repeat center center;
}

#quote {
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 60%;
    height: 130px;

    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(90, 58, 58, .6);

    bottom: 75px;
    right: 600px;

    position: absolute;
}

#greg-child {
    float: right;
    padding-right: 30px;
    
}

br {
    height: 75px;
    width: 100%;
    background-color: #3a3a3a;
}

/* Lead, Bouldering and Speed climbing sections */

#disciplines {
    height: 300px
}

#disciplines h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    word-spacing: 10px;
}

#disciplines p {
    font-size: 110%;
}

#left-section {
    padding-top: 30px;
    width: 30%;
    float: left;
    text-align: center;
}

#right-section {
    padding-top: 30px;
    width: 30%;
    float: right;
    text-align: center;
}

#center-section {
    padding-top: 30px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

/* Images */

#left-img {
    padding-top: 15px;
    width: 30%;
    float: left;
}

#right-img {
    padding-top: 15px;
    width: 30%;
    float: right;
}

#center-img {
    padding-top: 15px;
    width: 30%;
    margin: 0 auto;
}

/* Footer */

footer {
    height: 75px;
    width: 100%;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 200%;
    padding-top: 30px;
    display: inline;
}

#social-media {
    text-align: center;
    line-height: 75px;
}

#social-media li {
    display: inline;
    padding: 150px;
}
    
#social-media a {
    color: #fff;
    text-decoration: none;
}

/* Videos.html */



