@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #3a3a3a;;
}

/* headings and logo */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    background-color: #3a3a3a;
    color: #fff;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    padding-left: 10px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom:  1px solid #fff;
}

/* Home image & quote*/

#image-and-quote {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;   
}

#home-image {
    height: 600px;
    width: 100%;
    background: url(../images/climbing.jpg) no-repeat center center;
}

#quote {
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: medium;
    width: 60%;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(90, 58, 58, .8);
    bottom: 15px;
    left: 15px;
    position: absolute;
}

/* Lead, Bouldering and Speed climbing sections */

#disciplines h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    word-spacing: 10px;
}

#disciplines p {
    font-size: 110%;
}

#disciplines h2 i {
    color:#fff;
}

#left-section {
    padding-top: 30px;
    width: 30%;
    float: left;
    text-align: center;
}

#right-section {
    padding-top: 30px;
    width: 30%;
    float: right;
    text-align: center;
}

#center-section {
    padding-top: 30px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

/* Footer */

footer {
    height: 75px;
    width: 100%;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 300%;
    padding-top: 45px;
    bottom: 0;
}

#social-media {
    text-align: center;
    line-height: 75px;
}

#social-media li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}
    
#social-media a {
    color: #fff;
    text-decoration: none;
}

/* Videos.html */

#videos {
    text-align: center;
    padding-bottom: 30px;
}

.videos-title {
    margin: 20px 50px;
    padding: 10px;  
    border: 3px solid;
}

#ifsc-channel {
    width: 100%;
    text-align: center;   
}

#ifsc-channel a {
    text-decoration: none;
    color: inherit;
    font-family: lato, sans-serif;
    font-size: 150%;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

/* newsletter.html */

.newsletter-submit {
    margin: 0 auto;
    color: #fff;;
    max-width: 600px;
    padding: 30px;   
}

.newsletter-submit h2 {
    text-align: center;
    color: #fafafa;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px; 
}

.text-input:hover {
    border-color: #f16c6b;
}

.submit-button {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Thank you page */

#thank-you {
    clear: both;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 280%;
    height: 80hv;
    line-height: 900px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Media queries */

/* For large to medium screens sizes from 1050px wide and down */

@media screen and (max-width: 1050px){

    #home-image {
        height: 600px;
        width: 100%;
        background: url(../images/climbing-medium.jpg) no-repeat center center;
    }

    #disciplines {
        width: 90%;
        margin: 0 auto;
    }

    #left-section {
        width: 100%;
        float: left;
        text-align: center;
        clear: both;    
    }
    
    #right-section {
        width: 100%;
        float: left;
        text-align: center;
        clear: both;
    }
    
    #center-section {
        width: 100%;
        float: left;
        text-align: center;
        clear: both;
        margin-bottom: 30px;
    }

    #disciplines h2 {
        border: 3px solid #fff;
    }
}

/* For medium to small screens sizes from 760px wide and down */

@media screen and (max-width: 760px){

    #logo {
        letter-spacing: normal;
    }

    #menu {
        float: left;
        letter-spacing: normal;
        clear: both;
    }

    #quote {
        font-size: small;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    #thank-you {
        height: 500px;
        line-height: 500px;  
    }
}


/* For small screens sizes from 340px wide and down */

@media screen and (max-width: 340px){

    #logo {
        letter-spacing: normal;
        font-size: 200%;
    }

    #quote {
        font-size: x-small;
    }

    .newsletter-submit h2 {
        font-size: large;
    }
}